<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

      <!--开启包扫描 -->
      <context:component-scan base-package="com.aaa.ssm.controller"></context:component-scan>

      <!--开启springmvc注解启动-->
      <mvc:annotation-driven></mvc:annotation-driven>

       <!--上传解析器-->
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
           <!--允许上传文件最大大小  默认是字节 大约10M-->
           <property name="maxUploadSize" value="10240000"></property>
       </bean>
       <!--配置视图解析器-->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/jsp/"></property>
            <property name="suffix" value=".jsp"></property>
       </bean>

        <!--统一异常处理配置  方法1-->
     <!--   <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
             &lt;!&ndash;发生错误是默认跳转的页面   结合视图解析器一起使用  真正路径 /WEB-INF/jsp/default-error.jsp&ndash;&gt;
            <property name="defaultErrorView" value="default-error"></property>
            &lt;!&ndash;在错误页面输出异常信息时，使用的属性名称，如果不配置默认为exception&ndash;&gt;
            <property name="exceptionAttribute" value="ex"></property>
        </bean>-->
     <!--统一异常处理配置  方法2-->
     <bean class="com.aaa.ssm.util.GlobalExceptionHandler"></bean>
      <!--配置拦截器-->
      <mvc:interceptors>
          <!--配置用户登录拦截器-->
          <mvc:interceptor>
              <!--拦截路径   /**  拦截所有请求  /*  拦截一级请求 /*/*  拦截两级请求 如：/dept/list.do-->
              <mvc:mapping path="/*/*.do"/> <!-- 用户跳转登录页面和登录方法都是一级的，所有不拦截-->
              <bean class="com.aaa.ssm.interceptor.UserLoginInterceptor"></bean>
          </mvc:interceptor>
          <!--其他拦截器。。。-->
      </mvc:interceptors>
</beans>