<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        //初始化
        $(function(){
             //注册按钮添加点击事件
             $("#regBtn").click(function(){
                  var userN = $("#userName").val();
                  var realN = $("#realName").val();
                  var passW = $("#passWord").val();
                  if($.trim(userN)==''||$.trim(passW)==''){
                      $("#divInfo").html("用户名或者密码不能为空");
                      return;
                  }
                  var userJson = {"userName":userN,"realName":realN,"passWord":passW};
                  $.ajax({
                      url:"/user/register",
                      type:"POST",
                      contentType:"application/json;charset=utf-8",
                      data:JSON.stringify(userJson),
                      dataType:"json",
                      success:function(data){
                          if(data!=''&&data!=null){
                              if(data.code==200){
                                  location.href="/html/login.html"
                              }else {
                                  $("#divInfo").html("注册失败");
                              }
                          }
                      },
                      error:function(){
                          $("#divInfo").html("请求失败");
                      }
                  });

             });
        });
    </script>
</head>
<body>
<center>
    <h3>用户注册</h3><br>
    <div style="color: red" id="divInfo"></div>
        <!--content="aaa"&title="test"  {content:"aaaa",title:'test'}-->
        <table border="1" width="400px;">
            <tr align="center"><td>用户名</td><td><input type="text" id="userName"  name="userName"  > </td></tr>
            <tr align="center"><td>姓名</td><td><input type="text" id="realName"  name="realName"  > </td></tr>
            <tr align="center"><td>密码</td><td><input type="text"  id="passWord" name="passWord"  >  </td></tr>
            <tr align="center"><td colspan="2"><input type="button" id="regBtn" value="注册"> </td></tr>
        </table>
</center>
</body>
</html>